.chattybox {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 1rem;
  align-items: stretch;
  background-color: #ffffff;
}

.chat-card {
  text-align: center;
  padding: 1rem;
  width: 15rem;
  height: 29rem;
  display: inline-grid;
  grid-gap: 10px;
  margin: auto;
  display: block;
  max-width: 300px;
  max-height: 430px;
  width: auto;
  height: 430px;
}

.live {
  margin-bottom: 4em;
  margin-top: 1em;
  width: 200px;
  height: 200px;
  background-color: #ffe88b;
  border-radius: 50%;
  position: absolute;
  line-height: 200px;
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 38px;
}
.live:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 5px solid #ffe88b;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.live:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 5px solid #ffe88b;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

@keyframes animate {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
