.chat-input {
  height: 2.5em;
  width: 12em;
  /* font-size: 4em; */
}

.messagesArea {
  /* display: grid; */
  /* flex-wrap: wrap; */
  width: 30em;
  height: 40em;
  align-content: flex;
  border-width: 4px;
  border-style: groove;
  border-radius: 10px;
  border-color: #9c9c9c;
  overflow: scroll;
  margin-top: 3em;
}

/* .msg-button {
  height: 2em;
  text-align: center;
} */

.dot-me {
  height: 25px;
  width: 25px;
  background-color: cornflowerblue;
  border-radius: 50%;
  display: inline-grid;
  margin-left: 27em;
}

.dot-guest {
  height: 25px;
  width: 25px;
  background-color: #ed741c;
  border-radius: 50%;
  display: inline-grid;
  margin-right: 27em;
}

.username-me {
  /* display: block; */
  padding-right: 1em;
  text-align: right;
  color: gray;
  font-size: 15px;
  /* padding-bottom: 4px; */
}

.username-guest {
  /* display: block; */
  padding-left: 1em;
  text-align: left;
  color: gray;
  font-size: 15px;
  /* padding-bottom: 4px; */
}

.msg-me {
  padding-right: 0.5em;
  padding-left: 0.5em;
  /* align-items: flex-end;
  flex-direction: row-reverse; */
  text-align: right;
  border-radius: 5px;
  /* margin: 0; */
  margin-left: 12em;
  /* margin-right: 3em; */
  /* max-width: -200px; */
  background-color: cornflowerblue;
  color: white;

  display: inline-grid;
}

.msg-guest {
  padding-left: 0.5em;
  padding-right: 0.5em;
  /* align-items: flex-end;
  flex-direction: row-reverse; */
  text-align: left;
  border-radius: 5px;
  /* margin: 0; */
  margin-right: 12em;
  background-color: #ed741c;
  color: white;
  display: inline-grid;
}
