.item-collection {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem 1rem;
  align-items: stretch;
  background-color: #ffffff;
  font-family: "Pacifico", cursive;
}
