.wunder-signup {
  font-size: 4em;
  font-family: "Pacifico", cursive;
  line-height: 1.4;
}

.signup-style {
  width: 700px;
  margin: 0 auto;
}

.input-style {
  width: 400px;
  border-width: normal;
  border-color: black;
  margin: 0 auto;
}
