.jumbo-tron {
  background: url("https://images.unsplash.com/photo-1509042283213-f7167abd77f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80")
    no-repeat fixed bottom;
  background-size: cover;
  color: #efefef;
  height: 1000px;
  position: relative;
  z-index: -2;
}

.backgr {
  background: url("https://images.unsplash.com/photo-1509042283213-f7167abd77f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
  background-size: cover;
}

.whatever {
  position: absolute;
  top: 20%;
  left: 35%;
  color: #efefef;
  font-family: "Pacifico", cursive;
}

.overlay {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.background-pic {
  background: url("https://images.unsplash.com/photo-1509042283213-f7167abd77f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80")
    no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 400px;
  position: relative;
  z-index: -2;
}

.logo {
  max-height: 40px;
  max-width: 40px;
}

.bg-custom {
  background-color: #ffffff;
}

.brand-name {
  font-family: "Pacifico", cursive;
  color: #000000;
  line-height: 1.4;
}

.brand-middle {
  /* display: flex;
  flex-direction: column; */
  /* margin-left: 10rem; */
  align-items: center;
  justify-content: center;
}

.explore {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.about {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}
