.view {
  display: flex;
  border-width: 2px;
  border-style: inset;
  /* border-color: orange; */
}

.left-side {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: inset;
  /* border-color: red; */
}

.right-side {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  /* border-color: blue; */
  border-width: 2px;
  border-style: inset;
}

.Item-Main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-width: 2px;
  border-style: inset;
  border-color: black;
}
